.bg-dark {
    background: #232323 !important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
footer{
    display: block;
}
.container {
    max-width: 960px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-md-left {
    text-align: left!important;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 67%;
}
.col-md-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.text-white {
    color: #fff!important;
}
.small, small {
    font-size: 1rem;
    font-weight: 400;
}
.text-white{
    color: #fff;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 30%;
}
.align-self-center {
    align-self: center!important;
}
.mx-2 {
    margin-left: 0.5rem!important;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
.list-inline-item {
    display: inline-block;
}
.text-md-right {
    text-align: right!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.mx-2 {
    margin-left: 0.5rem!important;
}
.list-inline-item {
    display: inline-block;
}
